
<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
    
         {%if data == 0%}
           <h1>Iris setosa</h1>
           <img src='static\setosa.jpg'>

         {%elif data==1%}
           <h1>Iris versicolor</h1>
           <img src='static\versicolor.jpg'>

         {%else%}
            <h1>Iris viginica</h1>
           <img src='static\viginica.jpg'>

    {%endif%}



        <br><br>
    <a href='/'>Click Here to go back to the home page</a>

    </center>

</body>

</html>